.cont-1{
    width: 35rem;
    height: 35rem;
    background-color: rgb(39, 39, 49);
    border-radius: 0.5rem;
   border: 0.5rem solid greenyellow;
}
#screen{
    width: 29.5rem;
    height: 3rem;
    background-color: rgb(3, 173, 80);
   margin: 2rem;
   border-radius: 0.5rem;
font-size: 2rem;

}
.cont-3{
 width: 30rem;
 height: 25rem;
    display: flex;
   justify-content: space-around;
   margin-left: 2.5rem;

    
}
button{
  width: 7.2rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  background-color: black;
  color: aliceblue;
 font-size: 1.5rem;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}